.test {
    border: 5px solid black;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 1200px;
    min-height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 15px;
}

.content {
    border: 5px solid blue;
}

form {
    width: 500px;
    height: 300px;
    padding: 25px;
    display: grid;
    border: 2px solid green;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-left: 40px;
    margin-right: 20px;
}

.bookContainer {
    border: 3px solid forestgreen;
    height: 300px;
}

.remove-button {
    height: 25px;
    width: 50px;
}

.read-status {
    height: 25px;
    width: 50px;
    background-color: green;
}

body {
    
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    
}

.header {
    height: 150px;
    background-color: forestgreen;
    font-size: 50px;
    margin-top: 0%;
}

.header-text {
    position: relative; 
    top: 30%;
    left: 5%;
    margin-top: 0%;
}